@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    h1 {
        @apply text-4xl font-bold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-2xl font-bold;
    }

    h4 {
        @apply text-xl font-medium;
    }

    h5 {
        @apply text-lg font-medium;
    }

    h6 {
        @apply text-base font-medium;
    }
}

@layer components {
    main {
        --padding-inline: 6rem;
        --content-max-width: 900px;
        --breakout-max-width: 1200px;

        --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
        display: grid;
        grid-template-columns:
            [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
                var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
    }

    @media (max-width: 640px) {
        main {
            --padding-inline: 3rem;
        }
    }

    main > :not(.breakout, .full-width),
    .full-width> :not(.breakout, .full-width) {
        grid-column: content;
    }

    main > .breakout {
        @apply bg-blue-500;
        grid-column: breakout;
    }

    main > .full-width {
        @apply bg-blue-800;
        grid-column: full-width;
        display: grid;
        grid-template-columns: inherit;
    }

    img.full-width {
        width: 100%;
        max-height: 45vh;
        object-fit: cover;
    }

    .flow>*+* {
        margin-top: var(--flow-spacing, 1em);
    }

    .body-bg {
        @apply text-zinc-700;
    }

    .dark-body-bg {
        @apply text-white;
        text-shadow: 0 0 2px;
    }

    a:active,
    active:active {
        @apply brightness-110;
        @apply backdrop-brightness-110;
        @apply text-opacity-50;
    }
}

@font-face {
    font-family: 'Atkinson';
    src: url('/fonts/atkinson-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson';
    src: url('/fonts/atkinson-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Atkinson', sans-serif;
}