---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Tag, Tweak, Test"
	description="Quick summary of who we are and what we do"
	pubDate={new Date('June 01 2025')}
>
	<p>
		This site is designed to be a guide to your marketing tech stack. We're here to make things easier, cheaper, and clearer for digital marketers, data analysts, and web developers.
	</p>
	<p>
		If you have a specific question about a topic, feel free to get in touch. We're happy to help! Because our content is based on solving common problems, you could inspire the next big article with your issue.
	</p>
</Layout>
